############################
# Java / Maven
############################
target/
*.class
*.jar
*.war
*.ear
*.log

############################
# Maven Wrapper
############################
.mvn/wrapper/maven-wrapper.jar

############################
# Eclipse / STS
############################
.metadata/
.project
.classpath
.settings/
.springBeans
.sts4-cache/

############################
# IntelliJ / VS Code
############################
.idea/
.vscode/
*.iml
*.ipr
*.iws

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Build folders
############################
bin/
out/
build/
dist/

############################
# Logs
############################
logs/
*.log

############################
# Spring Boot
############################
*.pid
*.pid.lock
*.seed

############################
# Environment files
############################
.env
.env.local
.env.*

############################
# Secrets (VERY IMPORTANT)
############################
src/main/resources/application-secrets.properties
src/main/resources/application-local.properties
src/main/resources/application-dev.properties
src/main/resources/application.yml
src/main/resources/application-*.yml
application-secrets.yml

############################
# Node (if frontend inside repo)
############################
node_modules/
package-lock.json